
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<h2>Contact</h2>

@section MySection
{
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

}